body{
    margin:0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1.5;
    background: url(bg.png),#2b3137;
    background-position: center;
    background-size: cover;
    background-color: rgba(43, 49, 55);
    background-blend-mode: darken;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #24292e;
    padding: 1.5% 1%;
}
.left-part, .right-part{
    display: flex;
    flex-direction: row;
    color: white;
}
.left-part img{
    width: 35px;
}
details, .left-part div a {
    padding: .5em .5em 0;
}
div.a{
    padding-top: .5em;
}
a{
    color: white;
    text-decoration: none;
}
summary{
    font-size: 16px;
}   
.right-part input{
    background-color: #404448;
    border-radius: 3px;
    padding: 5%;    
    border: 1px solid #404448;
    margin-right: 35px;
    margin-top: 2px;
    width: 200px;
    height: 30%;
}
.right-part button{
    margin-top: 2px;
    margin-left: 15px;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 16px;
    background-color: #24292e;
    color: white;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 12%;
}
.one{
    padding-top: 10%;
    width: 48%;
}
.one div.h1{
    line-height: 1;
    font-weight: 500;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: white;
    font-size: 64px;
    margin-bottom: 5%;
}
.one div.h2{
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.one div.h2 a{
    color: white;
    text-decoration: none;
}
.one div.h2 a:hover{
    text-decoration: underline;
}
.two{
    width: 39%;
    background-color: white;
    padding: 2%;
    border-radius: 5px;
}
label{
    font-size: 14px;
    font-weight: 600;
    color: #24292e;
}
.l{
    margin-top: 3%;
}
.two div input{
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d1d5da;
    border-radius: 5px;
}
.mini{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    color: #24292e;
}
.two a{
    font-size: 12px;
    color: #0366d6;
    text-decoration: none;
}
.two div button{
    background-color: #2ebc4f;
    padding: 20px 32px;
    margin: 30px 0;
    color: white;
    width: 100%;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #2ebc4f;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}