<body *ngFor='let item of list' (click)="show(item)">
  <div class="card">
    <div class="card-body">
      <div class="title">
        <h2>
          {{item.title}}
        </h2>
        <button type="button" (click)="save()">Save</button>
      </div>
      <hr>
      <img src={{item.front_image}} alt={{item.title}}>
      <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <div class="section">
        rating: {{item.likes}}
      </div>
      <div class="section">
        <strong>Description:</strong> {{item.description}}
      </div>
      <div class="section">
        <strong>Ingredients:</strong> {{item.ingredients}}
      </div>
      <div class="section">
        Comments: {{item.comments}}
      </div>
    </div>
  </div>
</body>


<div id="modal1" class="modal1" *ngIf="selectedItem">
  <div class="card">
    <div class="card-body">
      <div class="title">
        <h2>
          {{selectedItem.title}}
        </h2>
        <button type="button" (click)="show(selectedItem)">Back</button>
      </div>
      <hr>
      <img src={{selectedItem.front_image}}>
      <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <div class="section">
        rating: {{selectedItem.likes}}
      </div>
      <div class="section">
        <strong>Description:</strong> {{selectedItem.description}}
      </div>
      <div class="section">
        <strong>Ingredients:</strong> {{selectedItem.ingredients}}
      </div>
      <div class="section">
        <strong>Directions:</strong>
        <div *ngFor='let step of selectedItem.steps, let i = index'>
          <br>Step{{i}}. {{step}}
        </div>
      </div>
      <div class="section">
        Comments: {{selectedItem.comments}}
      </div>
    </div>
  </div>