<body *ngFor='let item of list' routerLink="/details">
  <div class="card">
    <div class="card-body">
      <div class="title">
        <h2>
          {{item.title}}
        </h2>
        <button type="button" (click)="save()">Save</button>
      </div>
      <hr>
      <img src={{item.front_image}} alt={{item.title}}>
      <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <div class="section">
        rating: {{item.likes}}
      </div>
      <div class="section">
        <strong>Description:</strong> {{item.description}}
      </div>
      <div class="section">
        <strong>Ingredients:</strong> {{item.ingredients}}
      </div>
      <div class="section">
        Comments: {{item.comments}}
      </div>
    </div>
  </div>
</body>
