<div *ngIf="job">
  <h1 style="margin-left: 2%;">
    Id: {{job.id}}
  </h1>
  <div>
    <label>Title:   
      {{job.title}}
    </label>  
  </div>
  <input [(ngModel)]="job.title" placeholder="title"/>
  <hr>
  <div>
    <label>Description:
      {{job.description}}
    </label>
  </div>
  <input [(ngModel)]="job.description" placeholder="description"/>
  <hr>
  <h3 style="margin-left: 2%;">
    LIKES: {{job.like_count}}
  </h3>
  <button (click)="Like()">
    Like
  </button>
  <button (click)="goBack()">go back</button>
</div>