* {
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
  }

  body {
    background-color: #FFF8DC;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  h1, h2 {
    color: #8B4726 ;
    font-weight: lighter;
  }

  a {
    color: #8B4726;
    text-decoration: none;
  }